/* 전체 페이지의 기본 스타일 설정 */
body {
    font-family: sans-serif; /* 글꼴 지정 */
    margin: 0; /* 바깥쪽 여백 없애기 */
}

/* 헤더 전체 디자인 */
.main-header {
    background-color: #ffffff; /* 배경색 */
    color: #cfcfcf; /* 글자색 */
    padding: 10px 40px; /* 안쪽 여백 (상하 10px, 좌우 40px) */
    border-bottom: 1px dashed #cfcfcf; /* 아래쪽 테두리 선 */
    display: flex; /* 내부 요소들을 가로로 배치 */
    justify-content: space-between; /* 요소들 사이에 공간을 균등하게 배분 */
    align-items: center; /* 요소들을 세로 중앙에 정렬 */
}

/* 로고(왼쪽) 디자인 */
.logo a {
    text-decoration: none; /* 링크 밑줄 없애기 */
    color: #cfcfcf; /* 글자색 */
    font-size: 15px; /* 글자 크기 */
    font-weight: medium; /* 글자 굵기 */
}

/* 메뉴(오른쪽) 디자인 */
.main-nav ul {
    list-style: none; /* 리스트 앞에 점 없애기 */
    margin: 3px;
    padding: 2px;
    display: flex; /* 메뉴 아이템들을 가로로 배치 */
}

.main-nav li {
    margin-left: 36px; /* 메뉴 아이템 사이의 왼쪽 여백 */
}

.main-nav a {
    text-decoration: none; /* 링크 밑줄 없애기 */
    color: #cfcfcf; /* 글자색 */
    font-size: 16px; /* 글자 크기 */
}

/* 메뉴에 마우스를 올렸을 때 스타일 */
.main-nav a:hover {
    color: #00a7b9; /* 글자색 변경 */
}

/* 메인 콘텐츠 영역 여백 */
main {
    padding: 20px;
}
/* 홈페이지 스타일 */
.hometext {
    color: #cfcfcf;
}
/* 방명록 폼 스타일 */
#guestbook-form {
    margin-top: 20px;
    display: flex;
    flex-direction: row; /* 아이템들을 세로로 정렬 */
    gap: 10px; /* 아이템 사이의 간격 */
}

#guestbook-form input, #guestbook-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#guestbook-form button {
    align-self: flex-start; /* 버튼을 왼쪽 정렬 */
    padding: 15px;
    background-color: #9dbded;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 방명록 글 목록 스타일 */
#guestbook-entries {
    margin-top: 30px;
}

.entry {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.entry p {
    margin: 5px 0;

}

/* 날씨 아이콘이 좌우로 움직이는 애니메이션 */
#weather-icon {
    /* animation: 이름 시간 움직임방법 반복 방향; */
    animation: move-side-to-side 5s ease-in-out infinite alternate;
}

/* 움직임의 실제 내용 정의 */
@keyframes move-side-to-side {
    /* 시작 상태 (0%) */
    from {
        transform: translateX(-20px); /* 왼쪽으로 20px 이동한 상태에서 시작 */
    }
    /* 끝 상태 (100%) */
    to {
        transform: translateX(20px);  /* 오른쪽으로 20px 이동하며 끝 */
    }
}
